body{
    background-color: #000;
}
a{
    text-decoration: none !important;
}
.title-logo{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    float: right;
    padding-right: 90px;
}
.title-item{
    font-size: 40px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}
.logos{
    padding: 30px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    transition: .5s ease;
    backface-visibility: hidden;
}
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .image:hover .center {
    opacity: 0.3;
  }
  
  .image:hover .middle {
    opacity: 1;
  }
  .image:hover .middle a{
    color: white;
  }
  
  .text {
    background-color: #0a0c0a;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .logos > .row > .col-6 > .adidaslogo{
    width: 250px;
    height: 120px;
    padding-left: 90px;
}
@media only screen and (max-width: 325px) {
    .logos > .row > .col-6 > .adidaslogo{
        width: 150px;
    }
}
@media only screen and (max-width: 380px) {
    .logos > .row > .col-6 > .adidaslogo{
        width: 130px;
        height: 90px;
        padding-left: 0px;
    }
}
@media only screen and (max-width: 600px) {
    .center {
        width: 100%;
    }
    .adidaslogo{
        width:30%;
        padding-left: 0px;
    }
    .title-logo{
        padding-right: 0px;
        font-size: 23.3px;
    }
    .wrapper{
        padding: 10px;
    }   
    .p{
        font-size: 30px;
    }
}

@media only screen and (width: 1024px) {
    .logos > .row > .col-6 > .adidaslogo{
        max-width: 50%;
    }
}

@media only screen and (width: 768px) {
    .logos > .row > .col-6 > .adidaslogo{
        width: 240px;
        height: 140;
    }
}
@media only screen and (width: 540) {
    .logos > .row > .col-6 > .adidaslogo{
        width: 120px;
        height: 100px;
        padding-left: 0px;
    }
}
@media only screen and (width: 425px) {
    .logos > .row > .col-6 > .adidaslogo{
        width: 100px;
        height: 100px;
        padding-left: 0px;
    }
}
@media only screen and (width: 414px) {
    .logos > .row > .col-6 > .adidaslogo{
        width: 120px;
        height: 100px;
        padding-left: 0px;
    }
}
@media only screen and (width: 280px) {
    .logos > .row > .col-6 > .adidaslogo{
        width: 110px;
        height: 90px;
        padding-left: 0px;
    }
}